[defaults]
inventory = ./inventory.ini
vault_password_file = .vault_pass
host_key_checking = True
roles_path = ./roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no
pipelining = True
